* {
  margin : 0;
  padding: 0;
}

._link{
  text-decoration: none;
  color: black;
}

.leftSide {
  /* background-color: violet; */
  border-left: 1px solid rgba(191, 191, 191, 0.253);
}

.rightSide {
  /* background-color: violet; */
  border-right: 1px solid rgba(191, 191, 191, 0.253);
}


.midSide {
  /* background-color: violet; */
  border-right: 1px solid rgba(191, 191, 191, 0.253);
}

.leftSide .logo{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rightSide .logo{
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.leftSide .menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 5px;
  gap: 10px;

}

.rightSide .menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-right: 5px;
  gap: 10px;

}

